<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="icu.yeguo.chat.mapper.GroupRoomMapper">
    <resultMap id="BaseResultMap" type="icu.yeguo.chat.model.entity.GroupRoom">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="roomId" column="room_id" jdbcType="BIGINT"/>
        <result property="isGlobalGroup" column="is_global_group" jdbcType="TINYINT"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,room_id,avatar,is_global_group,
        create_time,update_time,is_deleted
    </sql>
</mapper>
